<.header>
  Edit Photographer <%= @photographer.id %>
  <:subtitle>Use this form to manage photographer records in your database.</:subtitle>
</.header>

<.photographer_form changeset={@changeset} action={~p"/photographers/#{@photographer}"} />

<.back navigate={~p"/photographers"}>Back to photographers</.back>
