<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:first_name]} type="text" label="First name" />
  <.input field={f[:middle_name]} type="text" label="Middle name" />
  <.input field={f[:last_name]} type="text" label="Last name" />
  <:actions>
    <.button>Save Photographer</.button>
  </:actions>
</.simple_form>
