<.header>
  New Film roll
  <:subtitle>Use this form to manage film_roll records in your database.</:subtitle>
</.header>

<.film_roll_form changeset={@changeset} action={~p"/film_rolls"} />

<.back navigate={~p"/film_rolls"}>Back to film_rolls</.back>
