<.header>
  New Filter
  <:subtitle>Use this form to manage filter records in your database.</:subtitle>
</.header>

<.filter_form changeset={@changeset} action={~p"/filters"} />

<.back navigate={~p"/filters"}>Back to filters</.back>
