<.header>
  New Light condition
  <:subtitle>Use this form to manage light_condition records in your database.</:subtitle>
</.header>

<.light_condition_form changeset={@changeset} action={~p"/light_conditions"} />

<.back navigate={~p"/light_conditions"}>Back to light_conditions</.back>
