<.header>
  Edit Tripod <%= @tripod.id %>
  <:subtitle>Use this form to manage tripod records in your database.</:subtitle>
</.header>

<.tripod_form changeset={@changeset} action={~p"/tripods/#{@tripod}"} manufacturers={@manufacturers} />

<.back navigate={~p"/tripods"}>Back to tripods</.back>
