<.header>
  Edit Holder <%= @holder.id %>
  <:subtitle>Use this form to manage holder records in your database.</:subtitle>
</.header>

<.holder_form changeset={@changeset} action={~p"/holders/#{@holder}"} />

<.back navigate={~p"/holders"}>Back to holders</.back>
