<.header>
  New Holder
  <:subtitle>Use this form to manage holder records in your database.</:subtitle>
</.header>

<.holder_form changeset={@changeset} action={~p"/holders"} />

<.back navigate={~p"/holders"}>Back to holders</.back>
