<.header>
  New Iso
  <:subtitle>Use this form to manage iso records in your database.</:subtitle>
</.header>

<.iso_form changeset={@changeset} action={~p"/iso"} />

<.back navigate={~p"/iso"}>Back to iso</.back>
