<.header>
  New Exposure record
  <:subtitle>Use this form to manage exposure_record records in your database.</:subtitle>
</.header>

<.exposure_record_form changeset={@changeset} action={~p"/exposure_records"} />

<.back navigate={~p"/exposure_records"}>Back to exposure_records</.back>
