<.header>
  Edit Film type <%= @film_type.id %>
  <:subtitle>Use this form to manage film_type records in your database.</:subtitle>
</.header>

<.film_type_form changeset={@changeset} action={~p"/film_type/#{@film_type}"} />

<.back navigate={~p"/film_type"}>Back to film_type</.back>
