<.header>
  New Zone
  <:subtitle>Use this form to manage zone records in your database.</:subtitle>
</.header>

<.zone_form changeset={@changeset} action={~p"/zones"} />

<.back navigate={~p"/zones"}>Back to zones</.back>
