<.header>
  New Shutter speed
  <:subtitle>Use this form to manage shutter_speed records in your database.</:subtitle>
</.header>

<.shutter_speed_form changeset={@changeset} action={~p"/shutter_speed"} />

<.back navigate={~p"/shutter_speed"}>Back to shutter_speed</.back>
