<.header>
  New Format
  <:subtitle>Use this form to manage format records in your database.</:subtitle>
</.header>

<.format_form changeset={@changeset} action={~p"/format"} />

<.back navigate={~p"/format"}>Back to format</.back>
