<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:manufacturer_id]} type="select" options={@manufacturers} label="Manufacturer" />
  <.input field={f[:name]} type="text" label="Name" />
  <.input field={f[:model]} type="text" label="Model" />
  <:actions>
    <.button>Save Camera</.button>
  </:actions>
</.simple_form>
