<.header>
  New Camera
  <:subtitle>Use this form to manage camera records in your database.</:subtitle>
</.header>

<.camera_form changeset={@changeset} action={~p"/cameras"} manufacturers={@manufacturers} />

<.back navigate={~p"/cameras"}>Back to cameras</.back>
