<.header>
  New Location
  <:subtitle>Use this form to manage location records in your database.</:subtitle>
</.header>

<.location_form changeset={@changeset} action={~p"/locations"} />

<.back navigate={~p"/locations"}>Back to locations</.back>
