<.header>
  New Film back
  <:subtitle>Use this form to manage film_back records in your database.</:subtitle>
</.header>

<.film_back_form changeset={@changeset} action={~p"/film_backs"} />

<.back navigate={~p"/film_backs"}>Back to film_backs</.back>
