<.header>
  New Exposure
  <:subtitle>Use this form to manage exposure records in your database.</:subtitle>
</.header>

<.exposure_form changeset={@changeset} action={~p"/exposures"} />

<.back navigate={~p"/exposures"}>Back to exposures</.back>
